In [40]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [41]:
url = "https://www.kaggle.com/datasets/chrico03/us-mega-millions-historical-numbers"

In [42]:
!kaggle datasets download -d chrico03/us-mega-millions-historical-numbers

us-mega-millions-historical-numbers.zip: Skipping, found more recently modified local copy (use --force to force download)

In [45]:
import zipfile
with zipfile.ZipFile("us-mega-millions-historical-numbers.zip","r") as zip_ref:
    zip_ref.extractall("data//")

In [47]:
df = pd.read_csv("data//mega_millions_historic.csv")

In [48]:
print(df.shape)
print(list(df.columns))

(1303, 8)
['date', 'ball_1', 'ball_2', 'ball_3', 'ball_4', 'ball_5', 'mega_ball', 'mega_plier']

In [49]:
df.head()

        date  ball_1  ball_2  ball_3  ball_4  ball_5  mega_ball mega_plier
0  7/26/2022       7      29      60      63      66         15         3X
1  7/22/2022      14      40      60      64      66         16         3X
2  7/19/2022       2      31      32      37      70         25         3X
3  7/15/2022       8      20      26      53      64         15         5X
4  7/12/2022       4       7      10      45      64         12         2X

In [50]:
df['mega_plier'] = df['mega_plier'].apply(lambda x: float(str(x).replace("X","")))

In [51]:
df['ball_1'] = df['ball_1'].apply(lambda x: float(str(x)))
df['ball_2'] = df['ball_2'].apply(lambda x: float(str(x)))
df['ball_3'] = df['ball_3'].apply(lambda x: float(str(x)))
df['ball_4'] = df['ball_4'].apply(lambda x: float(str(x)))
df['ball_5'] = df['ball_5'].apply(lambda x: float(str(x)))
df['mega_ball'] = df['mega_ball'].apply(lambda x: float(str(x)))

In [52]:
df.head()

        date  ball_1  ball_2  ball_3  ball_4  ball_5  mega_ball  mega_plier
0  7/26/2022     7.0    29.0    60.0    63.0    66.0       15.0         3.0
1  7/22/2022    14.0    40.0    60.0    64.0    66.0       16.0         3.0
2  7/19/2022     2.0    31.0    32.0    37.0    70.0       25.0         3.0
3  7/15/2022     8.0    20.0    26.0    53.0    64.0       15.0         5.0
4  7/12/2022     4.0     7.0    10.0    45.0    64.0       12.0         2.0

In [53]:
df.tail()

           date  ball_1  ball_2  ball_3  ball_4  ball_5  mega_ball  mega_plier
1298  2/16/2010    11.0    12.0    21.0    29.0    45.0        5.0         3.0
1299  2/12/2010    14.0    16.0    17.0    33.0    47.0       23.0         4.0
1300   2/9/2010     2.0    17.0    20.0    26.0    48.0       12.0         4.0
1301   2/5/2010    10.0    20.0    45.0    51.0    53.0       41.0         4.0
1302   2/2/2010     6.0     7.0    26.0    27.0    49.0        9.0         4.0

In [57]:
df_nan_counts = df.isna().sum()
df_nan_counts

date          0
ball_1        0
ball_2        0
ball_3        0
ball_4        0
ball_5        0
mega_ball     0
mega_plier    0
dtype: int64

In [59]:
df.to_csv('data/mega_millions_2010_to_2022.csv', index=False)